body {
    color: white;
    background-color: black;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid blue;

}

.center {
    text-align: center;
}

h1 {
    color : Blue;
}

footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid blue;
}

footer {
    display: flex; 
    justify-content: center;
}

nav a :hover {
    color: blue
}
